astropy==5.1
astropy-healpix==0.6
Cartopy==0.21.1
confluent-kafka==1.9.2
ephem==4.1.2
gcn-kafka==0.2.3
healpy==1.16.0
jsonschema==4.17.3
ligo-gracedb==2.7.7
ligo-segments==1.4.0
ligo.skymap==1.0.0
lxml==4.9.0
matplotlib==3.5.2
mhealpy==0.2.3
numpy==1.22.4
packaging==21.3
pandas==1.4.2
plotly==5.13.0
pytz==2022.1
Shapely==1.8.5 --no-binary shapely
scipy==1.8.1
swifttools==3.0.16
urllib3==1.26.9